<nav class="bottom-nav">

<a href="dashboard.html">
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
</a>

<a href="tiktok.html">
    <i class="fa-brands fa-tiktok"></i>
    <span>TikTok</span>
</a>

<a href="fakechat.html">
    <i class="fa-solid fa-comments"></i>
    <span>Chat</span>
</a>

<a href="qr.html">
    <i class="fa-solid fa-qrcode"></i>
    <span>QR</span>
</a>

<a href="admin.html">
    <i class="fa-solid fa-user-shield"></i>
    <span>Admin</span>
</a>

<a href="settings.html">
    <i class="fa-solid fa-gear"></i>
    <span>Settings</span>
</a>

</nav>