/* ==========================================
   QUANTUM HUB V2
   MOBILE RESPONSIVE
========================================== */


.menu-btn{

    display:none;

}



@media(max-width:768px){


    .app{

        display:block;

    }



    .sidebar{

        position:fixed;

        top:0;

        left:-260px;

        width:250px;

        height:100vh;

        z-index:999;

        transition:.3s;

    }



    .sidebar.active{

        left:0;

    }



    .main{

        width:100%;

        padding:15px;

    }



    .navbar{

        display:flex;

        align-items:center;

        justify-content:space-between;

    }



    .navbar-left{

        display:flex;

        align-items:center;

        gap:15px;

    }



    .menu-btn{

        display:block;

        background:none;

        border:none;

        font-size:25px;

    }



    .tools{

        display:flex;

        flex-direction:column;

        gap:15px;

    }



    .stats{

        display:flex;

        flex-direction:column;

        gap:15px;

    }


}